.header {
    display: flex;
    height: 4rem;
    padding: 0.8rem 1rem;
    background-color: black;
    color: white;
}

.title {
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: middle;
    line-height: 0.8;
}

.logo {
    display: flex;
    align-items: center;
    margin-right:1em;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
}

.button {
    background-color: darkgray;
    outline: 0;
}

.buttonImg {
    height: 100%;
    padding: 0.5em 0.2em;
}